{% extends 'layouts/base.html' %} {% block titulo %}Usuarios {% endblock %} {% block contenido %}
<h1>Listado de Links</h1>

<a href="{{ url_for('ver_links') }}">Links</a>
<div class ="col sm-12">
<table class="table table-bordered">
    <div class="row">
    <div class ="col sm-12">
    <div class = "col sm-3"> </div>
    <div class = "col sm-6">
    <thead>
        <tr>
            <th>ID</th>
            <th>enlace</th>
            <th>aleatorio</th>
        </tr>
    </thead>
    <tbody>
        {% for enlace in enlaces %}
        <tr>
            <td>{{ enlace[0] }}</td>
            <td>{{ enlace[1] }}</td>
            <td>{{ enlace[2] }}</td>
            <td>
            <a href="{{ url_for('actualizar_link') }}">
            <button type="button" class="btn btn-success btn" href="{{ url_for('actualizar_link') }}">
            Actualizar
            </button>
            </a>
            </td> 
        </tr>
        {%endfor%}
    <td>
    <form action="{{ url_for('eliminar_link') }}" method="POST">
    <div class="row">
    <div class ="col sm-12">
    <div class = "col sm-3"> </div>
    <div class = "col sm-6">
    <h3><label for="Datos">Eliminar Enlace</label></h3>
    <table width = "100%">
    <tr>
    <td>Id enlace</td>
    <td><input type="text" maxlength ="30" required class="form-control" id="codigo" name="codigo"></td>
    </tr>  
     </table>   
    </div>
    </div>
    </div>
    <tr>
    <td>
    <button type="submit" class="btn btn-primary">Eliminar</button>
    </td>
    </tr>
    </form></td></td>  
    </div>
    </div>
    </div>
    </tbody>
</table>
</div>
<br>
    <a href="{{ url_for('elegir_opcion_link') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('elegir_opcion_link') }}">
    Volver
    </button>
    </a>
<br>
    
{% endblock %}
